@import url('https://fonts.googleapis.com/css2?family=Buda:wght@300&display=swap%22');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap%22');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}




.container {
    display: flex;
    flex-direction: column;
}



.logotipo {
    background-color: rgba(252, 153, 38, 1);
    width: 100%;
    text-align: center;
    font-family: "Buda", cursive;
    font-size: 50;
    margin: 0;
    padding: 0;
}


.cabecalho {
    background-color: rgba(196, 196, 196, 0.56);
    width: 100%;
    text-align: center;
    font-family: "Roboto", cursive;
    font-size: 25;
    margin: 0;
    padding: 0;
}

.formatarTextoSimples {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
}

.botaoVoltar {
    background-color: rgba(252, 153, 38, 1);
    border: 1px solid rgba(196, 196, 196, 0.56);
    font-family: "Roboto";
    font-size: 16px;
    font-weight: bold;
    padding: 16px 5px;
    text-align: center;
    margin: 0px;
    width: 250px;
    height: 50px;
    border-radius: 25px;
}


.botaoVoltar:hover {
    background-color: rgba(250, 208, 146, 1);
}


.container {
    display: flex;
    flex-direction: column;
}

.link-deposito{
    width: 350px;
    height: 150px;
    border: 3px solid rgba(250, 208, 146, 1);
    display: flex;
    margin: 1px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) ;
}

.logo-deposito{
    display: flex;
    width: 80px;
    height: 55px;
    margin: 45px 5px;
    border-radius: 80px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) ;
    background-color: rgb(247, 242, 242);
}

.logo-deposito-dentro{
   display: flex;
   margin: auto;
}

.texto-deposito{
    display: flex;
    margin: 15px;
    align-items: center;
    font-size: 1.1rem;
    color: rgba(252, 153, 38, 1);
    
    
}

.botoesNavegacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}


.botoesFim {
    margin: 50px;
    align-self: center;
    width: 250px;
}

.borda-quadrada{
    margin: auto;
    margin-top: 40px;
    width: 358px;
    height: 63px;
    left: 10px;
    top: 177px;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) ;

}

.botaoAvancar{
    background-color: #e7e7e7; color: black;
    border: none;
    color: rgba(252, 153, 38, 1);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display:flex;
    font-size: 10px;
    margin-top: 100px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.botaoAvancar:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}




footer{
    position: absolute;
    bottom: 0;
    background-color: gray;
    width: 100%;
    text-align: center;
    font-family: "Roboto", cursive;
    font-size: 15;
    font-weight: 1000;
}

