@import url("https://fonts.googleapis.com/css2?family=Buda:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
header {
    background-color: rgba(252, 153, 38, 1);
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.menuFixo {
    position: fixed !important;
    z-index: 1 !important;
}

.logo {
    margin-top: 5px;
    margin-bottom: 5px;
}

.modal-header {
    background-color: rgba(252, 153, 38, 1) !important;
    border: rgb(233, 185, 131) !important;
    height: 58px !important;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

button {
    background-color: rgba(196, 196, 196, 1);
}

footer {
    bottom: 0;
    background-color: gray;
    width: 100%;
    text-align: center;
    font-family: "Roboto", cursive;
    font-size: 15;
    font-weight: 1000;
}

input[type="text"] {
    border-radius: 20px;
    border: none;
    border-bottom: 2px solid rgba(252, 153, 38, 1);
    width: 250px;
}

input[type="date"] {
    border-radius: 20px;
    border: 2px solid rgba(252, 153, 38, 1);
    width: 250px;
    height: 30px;
}

textarea {
    width: 250px;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid rgba(252, 153, 38, 1);
    resize: none;
    border-radius: 20px;
    background-color: rgba(250, 208, 146, 1);
    margin: 2%;
}

textarea:focus, select:focus {
    outline: none;
}

input[type="radio"] {
    margin-right: 5px;
    vertical-align: middle;
}

.botaoInterno {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
}

.logotipo {
    background-color: rgba(252, 153, 38, 1);
    width: 100%;
    text-align: center;
    font-family: "Buda", cursive;
    font-size: 50;
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: rgba(196, 196, 196, 0.56);
    width: 100%;
    text-align: center;
    font-family: "Roboto", cursive;
    font-size: 25;
    margin: 0;
    padding: 0;
}

.saldoConta {
    border-radius: 20px;
    background-color: rgba(250, 208, 146, 1);
    width: 100%;
    text-align: center;
    font-family: "Roboto", cursive;
    font-size: 20;
    font-weight: 1000;
}

.botoesNavegacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

.textoBoasVindas {
    font-family: "Roboto", cursive;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}

.formatarTextoSimples {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
}

.botaoNavegacao, .botaoVoltar {
    background-color: rgba(252, 153, 38, 1);
    border: 1px solid rgba(196, 196, 196, 0.56);
    font-family: "Roboto";
    font-size: 16px;
    font-weight: bold;
    padding: 16px 5px;
    text-align: center;
    margin: 4px;
    width: 250px;
    height: 50px;
    border-radius: 25px;
}

.botaoNavegacao:hover, .botaoVoltar:hover {
    background-color: rgba(250, 208, 146, 1);
}

.tabelaPagamentosRecentes {
    font-family: "Roboto", cursive;
    text-align: center;
    margin-top: 20px auto;
    width: 80%;
    line-height: 30px;
    margin-bottom: 10px;
    margin: 2% 10%;
    align-self: center;
}

.tabelaPagamentosRecentes thead th {
    background-color: rgba(252, 153, 38, 1);
    font-size: 20px;
    font-weight: bolder;
}

.tabelaPagamentosRecentes tbody tr:nth-child(odd) {
    background-color: rgba(250, 208, 146, 1);
}

.botoesFim {
    align-self: center;
    width: 250px;
}

.div-select {
    width: 250px;
    overflow: hidden;
    display: flex;
    margin: auto;
    cursor: pointer;
}

.div-select select {
    border-radius: 25px;
    border: 1px solid black;
    background-color: rgba(250, 208, 146, 1);
    width: 270px;
    height: 48px;
    font-family: "Roboto";
    font-size: 18px;
    padding: 13px 20px 13px 12px;
    color: #000000;
    text-indent: 0.01px;
    text-overflow: "";
}


#cpf {
    display: none;
}

#email {
    display: none;
}

#telefone {
    display: none;
}

#chave{
    display: none;
}

#qr{
    display: none;
}

#estadual{
    display: none;
}
#federal{
    display: none;
}
#textoParaPagamentoDeTributosRelativosAPessoaFisicaDoBrasilBrasileira{
    display: none;
}
#chavesPix {
    display: none;
}
.chavesPix {
    margin: 0 auto;
    width: auto;
    max-width: 100%;
    height: auto;
    font-family: "Roboto", cursive;
    font-weight: 1000;
    text-align: center;
    border: 3px solid orange;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20%;
    border-radius: 50px;
}
.comcodigo {
    display: flex;
    flex-wrap: wrap;
}

.alinharRadio {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.radiosTributos {
    margin: auto;
    width: 250px;
    font-family: "Roboto", cursive;
    font-weight: 1000;
    text-align: center;
}

#scanner {
    width: 640px;
    max-width: 100vw;
    background-color: rgba(252, 153, 38, 1);
}
#allt{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
}
#video{
    width: 640px;
    height: 480px;
    max-width: 100vw;
}