@import url('https://fonts.googleapis.com/css2?family=Buda:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html, main{
    background-color: rgb(252, 252, 252);
}
header{
    background-color: rgba(252, 153, 38, 1) !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

h1{
    background-color:rgba(252, 153, 38, 1);
    text-align: center;
    font-family: 'Buda', cursive;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;                
}

h2{
    text-align: center;
    font-family: 'Roboto', cursive;
    font-size: 1.5rem;
    font-weight: 1000;
    margin: 0;
    padding: 0;
}
h3{
    text-align: center;
    font-family: 'Roboto', cursive;
    font-size: 1.2rem;
    font-weight: 1000;
    margin: 1;
    padding: 0;
}

a, p, label{
    text-align: center !important;
    font-family: 'Roboto', cursive !important;
    font-size: 1rem !important;
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 1000 !important;
}

footer{
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
}

/*Tentativa de fixar a barra superior*/
.barraSuperiorFixo{
    position: fixed !important;
    z-index: 1 !important;
}

.tabela{
    border-color: black !important;
}

.logo{
    margin-top: 5px;
    margin-bottom: 5px;
}

.botaoTela {
    background-color: rgba(252, 153, 38, 1) !important;
    border: 1px solid rgba(196, 196, 196, 0.56) !important;
    font-family: "Roboto" !important;
    font-size: 16px !important;
    font-weight: bold !important;
    padding: 0 !important;
    text-align: center !important;
    margin: 1px !important;
    width: 100px !important;
    height: 25px !important;
    border-radius: 25px !important;
}

.botaoMenu {
    background-color: rgba(252, 153, 38, 1) !important;
    color:black !important;
    font-family: "Roboto" !important;
    font-size: 16px !important;
    font-weight: bold !important;
    padding: 0 !important;
    text-align: center !important;
    margin: 1px !important;
    width: 230px !important;
    height: 35px !important;
    border-radius: 25px !important;
    align-self: center !important;
}

.botaoMenu:hover, .botaoTela:hover{
    background-color: rgba(252, 153, 38, 0.5) !important;
}

/*Botão no menu com cor diferente para indicar tela atual*/
.active{
    background-color: rgb(233, 185, 131)!important;
    border: rgba(233, 185, 131, 0.425) !important;
}

/*Estilo do menu*/
.modal, .modal-content {
    width: 250px !important;
    background-color: rgba(233, 185, 131, 0.2) !important;
    font-family: "Roboto" !important;   
}

.modal-header{
    background-color: rgba(252, 153, 38, 1) !important;
    border:rgb(233, 185, 131) !important;
    height: 58px !important;
}

.card, .cardbody{
    background-color: rgb(247, 240, 232);
    border-radius: 0.5cm;
    max-width: 405px;
    margin-inline: 3rem;
}

.form-data{
    max-width: 125px !important; 
    border-radius: 5px !important;   
}

.compoServico{
    margin-left: 26px !important;
}