@import url('https://fonts.googleapis.com/css2?family=Buda:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    margin: 0;
    padding: 0;
}

header{
  background-color: rgba(252, 153, 38, 1);
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}




.botaoMenu {
  background-color: rgba(252, 153, 38, 1) !important;
  color:black !important;
  font-family: "Roboto" !important;
  font-size: 16px !important;
  font-weight: bold !important;
  padding: 0 !important;
  text-align: center !important;
  margin: 1px !important;
  width: 230px !important;
  height: 35px !important;
  border-radius: 25px !important;
  align-self: center !important;
}

.botaoMenu:hover, .botaoTela:hover{
  background-color: rgba(252, 153, 38, 0.5) !important;
}

.modal, .modal-content {
  width: 250px !important;
  background-color: rgba(233, 185, 131, 0.2) !important;
  font-family: "Roboto" !important;   
}

.modal-header{
  background-color: rgba(252, 153, 38, 1) !important;
  border:rgb(233, 185, 131) !important;
  height: 58px !important;
}

.active{
  background-color: rgb(233, 185, 131)!important;
  border: rgba(233, 185, 131, 0.425) !important;
}




h2{
  text-align: center;
  font-family: 'Roboto', cursive;
  font-size: 1.5rem;
  font-weight: 1000;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
  }

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;

}

.content-inf{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  


}

a, p, label{
  text-align: center !important;
  font-family: 'Roboto', cursive !important;
  font-size: 1rem !important;
  margin: 0 !important;
  padding: 0 !important;
  font-weight: 1000 !important;
}




.text-valor{
  display: flex;
  justify-content: flex-end;
  align-items: center;
 

}



.card-1,.card-2, .card-3, .card-4{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FAD092;
  border-radius: 5px;
  box-shadow: 0px 2px 23px #26395338;
  padding: 5px;
  width: 50%;
  height: 10vh;
  cursor: pointer;

}

.card-inf{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FAD092;
  border-radius: 5px;
  box-shadow: 0px 2px 23px #26395338;
  padding: 5px;
  width: 50%;
  height: 10vh;
  cursor: pointer;

}




.card-valor-saldo{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FAD092;
  border-radius: 5px;
  box-shadow: 0px 2px 23px #26395338;
  padding: 8px;
  width: 50%;
  height: 5vh;

}


.logo{
  margin-top: 5px;
  margin-bottom: 5px;
}


footer{
  
  text-align: center;
  width: 100%;
  border: rgba(252, 153, 38, 1);;
  background: rgba(252, 153, 38, 1);
  padding: 15px;
  
}


.botao-form{
  padding: 8px;
  margin-bottom: 5px;
  background-color: #ff9900;
  display: block;
  border-radius: 1px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 10pt;
  width:25%;
  border: #ff9900 1px solid;
  border-radius: 25px;


}



.div-button {
  display: flex;
  justify-content: center;
  padding: 15px;
  

}



.popup-wrapper{
  display: flex;
  flex-direction: column;
  display:none ;
  background-color:rgba(0, 0, 0,.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.popup{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-center;
  font-family: arial;
  text-align: center;
  width: 100%;
  max-width: 300px;
  height: 400px;
  margin: 10% auto;
  padding: 20px;
  background-color: #ff9900;
  position: relative;

}

.popup a {
 
  text-decoration: none;
  color:black;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 10pt;
  width:35%;
  text-decoration: none;
 
}

.popup-content{

  margin-top: 40px;
  background: white;
  height: 280px;
  width: 260px;
  border-width: 1px;
  border-style: dashed;
  border-color:#c97903;


}

.popup-close{
  position: absolute;
  font-size: 20pt;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: white;

}

.button-pdf{
 
 
  margin-top: 15px;
  


}

.detalhe-op {

  margin: 15px;
  display: flex;
  justify-content: center;
  height: 30px;
  width: 220px;
  border-width: 2px;
  border-style: dashed;
  border-color:#c97903;
}